DSV.Webservice.Central.DMSRetrieval/Service References/DMSService/DMSSearchService_1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns1="http://ws.search.services.dms.uti.com/" targetNamespace="http://search.services.dms.uti.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://jnbupq03.go2uti.com:8443/ssg/wsdl/DMSSearchService.xsd?serviceoid=6df44977e7a183884e619b382b37bbc9&amp;servdocoid=6df44977e7a183884e619b382b37bc0b" namespace="http://ws.search.services.dms.uti.com/" />
  <xs:complexType name="DocURLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="documentURL" type="xs:string" />
      <xs:element name="replyStatus" type="xs:boolean" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchServiceResponse">
    <xs:sequence>
      <xs:element name="status" type="xs:boolean" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element name="resultCount" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SearchResults" type="ns1:searchData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="POAResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="docURL" type="xs:string" />
      <xs:element name="replyStatus" type="xs:boolean" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>